* {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .background {
    background: #11324d;
    background-size: cover;
  }
  
  .nav-list {
    width: 70%;
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 180px;
  }
  
  .nav-list li {
    list-style: none;
    padding: 26px 30px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    max-width: 80%;
    margin: auto;
    height: 80%;
  }
  
  .text-big {
    font-weight: bold;
    font-size: 35px;
  }
  
  .text-small {
    font-size: 18px;
  }

  .btn {
      font-size: 17px;
      border-style: solid;
      border-radius: 9px;
      border-width: 2px;
      border-color: #a0a0a0;
  }
  
  .btn-sm {
    color: #ffffff;
    padding: 6px 10px;
    background: none;
    border-width: 2px;
    border-radius: 8px;
    border-color: #ffffff;
    border-style: solid;
    vertical-align: middle;
  }
  
  .firstsection {
    height: 400px;
    background-color: #f0d9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .secondsection {
    height: 400px;
    background-color: #c68b59;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .thirdsection {
    height: 400px;
    background-color: #d5eebb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  .text-footer {
    text-align: center;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    color: #ffffff;
  }
  
  
  /* Enter your CSS here :) */
